# icestick pin configuration file

#set_io FTDI_DCD			1
#set_io FTDI_DSR			2
set_io FTDI_DTR			3 # AKA reset
#set_io FTDI_CTS			4
#set_io FTDI_RTS			7
#set_io FTDI_TX			8
#set_io FTDI_RX			9

set_io ICE_CLK			21

# 8 pins I/O Bank 2 +3V3
#set_io EXPAN_J3_07		48
#set_io EXPAN_J3_10		44
#set_io EXPAN_J3_09		45
#set_io EXPAN_J3_08		47
#set_io EXPAN_J3_06		56
#set_io EXPAN_J3_05		60
#set_io EXPAN_J3_04		61
#set_io EXPAN_J3_03		62

#set_io SPI_SCLK 		70
#set_io SPI_SI 			68
#set_io SPI_SO 			67
#set_io SPI_SS 			71

# 8 pinds I/O Bank 1
#set_io PMOD_LEFT1 		78
#set_io PMOD_LEFT2 		79
#set_io PMOD_LEFT3 		80
#set_io PMOD_LEFT4 		81
#set_io PMOD_RIGHT1 		87
#set_io PMOD_RIGHT2 		88
#set_io PMOD_RIGHT3 		90
#set_io PMOD_RIGHT4 		91

set_io LED0 			99
set_io LED1 			98
set_io LED2 			97
set_io LED3 			96
set_io LED4 			95

#set_io IRDA_TXD 		105
#set_io IRDA_RXD 		106
#set_io IRDA_SD 			107


# 8 pins I/O Bank 0 +3V3
#set_io EXPAN_J1_03		112
#set_io EXPAN_J1_04		113
#set_io EXPAN_J1_05		114
#set_io EXPAN_J1_06		115
#set_io EXPAN_J1_07		116
#set_io EXPAN_J1_08		117
#set_io EXPAN_J1_09		118
#set_io EXPAN_J1_10		119

